



:root{
    --primaryColor : #6610f2;
    --secondryColor:#198754;
    --textColor:#136740;
    --footertextColor : rgb(114, 114, 114);
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#preloader{
    width: 100%;
    height: 100vh;
    background-image: url("../Img/loadrer/Spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 6%;
}
.postload{
    display: none;
}
.main-heading{
    font-family: 'Roboto', sans-serif;
}
/* ========================offcanvas======================= */
.offcanvas .offcanvas-header{
    box-shadow: 0 0 5px #8888;
}
.offcanvas .offcanvas-header .offcanvas-title{
    color: var(--footertextColor);
}

.offcanvas .offcanvas-body .offcanvas-body-item{
    padding: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--footertextColor);
    gap: 5px;
}
.offcanvas .offcanvas-body .offcanvas-body-item .offcanvas-body-item-img{
    width: 50%;
}
.offcanvas .offcanvas-body .offcanvas-body-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.offcanvas .offcanvas-body .offcanvas-body-item .offcanvas-body-item-title{
    font-size: 1.3rem;
    font-weight: 500; 
}

/* //cart prd */
.offcanvas .offcanvas-body{
    background-color: rgb(245, 245, 245);
    padding: 1rem 0!important;
}
.offcanvas .offcanvas-body .addcart-prds{
    display: none;
    width: 100%;
    padding: 0 1rem;
    background-color: white;
    min-height: fit-content;
}
.offcanvas .offcanvas-body .addcart-prds .addcart-prds-title{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 1rem;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    gap: 10px;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-img{
    flex: 20%; 
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-body{
    flex: 80%;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-img img{
    max-width: 100%;
    width: 100px;
    height: auto;
    object-fit: cover;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 5px;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-body .title{
    font-size: 1rem;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-body .price{
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: .3rem;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-body .price :first-child{
    color: lightgray;
    text-decoration: line-through;
    font-size: .9rem;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-body .price :last-child{
    background-color: #136740;
    color: white;
    padding: .1rem .5rem;
    font-size: .9rem;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-body .btns{
    align-self: flex-end;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-body .btns button{
    border: 2px solid var(--secondryColor);
    border-radius: 5px;
    background-color: white;
    color: var(--textColor);
    font-weight: 500;
    padding: .1rem .4rem;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-body .btns span{
    font-size: 1.2rem;
}
.offcanvas .offcanvas-body .addcart-prds .Addcart-prd-card .Addcart-prd-body .btns button:hover
{
    box-shadow: 0 0 0 4px rgb(25, 135, 84, 25%);
}

/* =================================nav================================== */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.navbar .nav-1 .navbar-collapse{
    justify-content: space-around;
}
.navbar .nav-1 .collapse form{
    width: 60%;
}
.navbar .nav-1 .collapse .navbar .container-fluid .navbar-collapse .navbar-nav li a:hover{
    border-bottom: .5px solid var(--textColor);
    color: var(--secondryColor);
}
.navbar .nav-1 .collapse .navbar .container-fluid .navbar-collapse .navbar-nav li .active{
    color: var(--secondryColor);
}
.navbar .nav-1 .collapse form .form-control:focus {
    border-color: var(--secondryColor);
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}
.navbar .nav-1 .logoimg{
    width: 160px;
    height: auto;
    cursor: pointer;
}
.navbar .collapse .loginpartul li{
    cursor: pointer;
}
.navbar .collapse .loginpartul li a{
    position: relative;
}
/* =====Tital No of cartitems==== */
.navbar .collapse .loginpartul li .totalcartitem{
   display: none;
   position: absolute;
   top: 0;
   left: 20px;
   background-color: var(--secondryColor);
   color: white;
   border-radius: 50%;
   padding: 0 .4rem;
   font-size: .7rem;
}

.navbar .collapse .loginpartul li a:hover{
    color: var(--secondryColor);
}
/* ===================sub nav======================== */
header .sub-nav{
    width: 100%;
    padding-bottom: 1rem;
}
header .sub-nav .navsub-list-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
header .sub-nav .navsub-list-items li{
    cursor: pointer;
}
header .sub-nav .navsub-list-items li .sub-nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .sub-nav .navsub-list-items li .sub-nav-item img{
    width: 50px;
    padding: 0.5rem 0;
}
header .sub-nav .navsub-list-items li .sub-nav-item a{
    text-decoration: none;
    font-weight: 500;
    color: var(--footertextColor)
}
header .sub-nav .navsub-list-items li:hover .sub-nav-item a{
    color: var(--secondryColor);
}
header .sub-nav .navsub-list-items li:hover .sub-nav-item a i{
    transform: rotate(180deg);
}

header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 5.6rem;
    /* border: 2px solid; */
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    min-height: 50vh;
    padding: 1rem 2rem;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    box-shadow: 0 0 5px #8888;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5%;
}
header .sub-nav .navsub-list-items .navsub-list-item:hover .sub-nav-dropdown{
    opacity: 1;
    visibility: visible;
}
header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown .vertical-line{
    flex: .2%;
    height: 100%;
    margin: 0 2rem;
    background-color: var(--footertextColor);
}
header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown .sub-nav-dropdown-item{
    color: var(--footertextColor);
    padding: 0 0 0 0;
    flex: 45%;
}
header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown .sub-nav-dropdown-item :first-child{
    font-weight: 600;
    font-size: 1.1rem;
    cursor: default;
}
header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown .sub-nav-dropdown-item li{
    text-align: start;
    width: 100%;
    padding: 0 0 1rem 0 ;
}
header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown .sub-nav-dropdown-item li:hover{
    color: var(--secondryColor);
}
header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown .sub-nav-dropdown-item .brand:hover{
    color: var(--footertextColor);
}





.imgheight{
    height: 70vh;
}
.topshift{
    top: 5px;
}
.size{
    width: 20px;
    height: 20px;
    bottom: 15px;
    left: 15px;
}
/* ================================================login model====================================== */

.model-height{
    height: 80vh;
}
.mod-content{
    height: 100%;
}
.modal-dialog .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* ..........loginleftpart.................============== */
.mod-content .left-part .login-backgoundimg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.mod-content .left-part .login-smallimg{
    position: absolute;
    object-fit: cover;
    width: 100%;
    z-index: 2;
    top: -8%;
    left: 0;
    /* transform: scaleX(-1); */
    /* animation-name: updown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all; */
}

.mod-content .left-part .loginsmallimg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 10%;
    z-index: 2;
    opacity: .4;
    
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all;
}
.mod-content .left-part .loginsmallimg-1{
    top: 50%;
    animation-name: updown-1;
    animation-delay: .2;
    left: 10%;
}
.mod-content .left-part .loginsmallimg-2{
    top: 10%;
    animation-name: updown-2;
    animation-delay: .4s;
    left: 30%;
}
.mod-content .left-part .loginsmallimg-3{
    top: 20%;
    animation-name: updown-3;
    animation-delay: .6s;
    left: 80%;
}
.mod-content .left-part .loginsmallimg-4{
    top: 60%;
    animation-name: updown-4;
    animation-delay: .9s;
    left: 55%;
}

@keyframes updown-1 {
    form{top: 50%}
    to{top: 51%;}
}
@keyframes updown-2 {
    form{top: 10%}
    to{top: 12%;}
}
@keyframes updown-3 {
    form{top: 20%}
    to{top: 22%;}
}
@keyframes updown-4 {
    form{top: 60%}
    to{top: 62%;}
}

.mod-content .left-part .login-left-text{
    position: absolute;
    bottom: 30px;
    padding: 0 8rem;
    left: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    color: rgb(230, 230, 230);
}
.mod-content .left-part .login-left-text h4{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-style: italic;
    text-transform: capitalize;
}
.mod-content .left-part .login-left-text p{
    font-size: .6rem;
    letter-spacing: 1px;
    padding: 0 3rem;
}

.modal-dialog .modal-content .left-part{
    border-radius: 8px 0 0px 8px;
    width: 50%;
    height: 100%;
    background-color: #8dc63a;
    overflow: hidden;
}
/* ================================login right part====================== */
.modal-dialog .modal-content .right-part .modal-header{
    width: 100%;
    border: none;
}
.modal-dialog .modal-content .right-part{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(109, 109, 109);
}
.modal-dialog .modal-content .right-part .modal-body{
    padding: 0 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.modal-dialog .modal-content .right-part .modal-body .model-body-text{
    text-align: center;
}
.modal-dialog .modal-content .right-part .modal-body .model-body-text h1{
    color: black;
}
.modal-dialog .modal-content .right-part .modal-body .model-body-text p{
    font-size: .8em;
}
.modal-dialog .modal-content .right-part .modal-body form{
   width: 100%;
   height: 100%;
}
.modal-dialog .modal-content .right-part .modal-body form .login-inp{
    width: 100%;
    height: 10%;
    margin: 1rem 0;
}
.modal-dialog .modal-content .right-part .modal-body form .login-inp #login-email,#login-password{
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    padding: 0 10px;
    transition: .5s;
    border: 2px solid rgb(152, 152, 152);
}
.modal-dialog .modal-content .right-part .modal-body form .login-inp .login-inp-icons{
    position: absolute; 
    top: .8rem;
    right: 1rem;
}
/* hover */
.modal-dialog .modal-content .right-part .modal-body form .login-inp:hover #login-email,.login-inp:hover #login-password{
    border: 2px solid var(--secondryColor);
}
.modal-dialog .modal-content .right-part .modal-body form .login-inp:hover :last-child{
    color: var(--secondryColor);
}
/* focus */
.modal-dialog .modal-content .right-part .modal-body form .login-inp #login-email:focus,#login-password:focus{
    border: 2px solid var(--secondryColor);
    outline: none;
}
.modal-dialog .modal-content .right-part .modal-body form .login-inp #login-email:focus+i,#login-password:focus+i{
    color: var(--secondryColor);
}
/* fill */
.modal-dialog .modal-content .right-part .modal-body form .login-inp #login-email:not(:placeholder-shown),#login-password:not(:placeholder-shown){
    border: 2px solid var(--secondryColor);
    outline: none;
}
.modal-dialog .modal-content .right-part .modal-body form .login-inp #login-email:not(:placeholder-shown)+i,#login-password:not(:placeholder-shown)+i{
    color: var(--secondryColor);
}

.modal-dialog .modal-content .right-part .modal-body form .check-recovery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    font-size: .8rem;
}
.modal-dialog .modal-content .right-part .modal-body form .login-btns{
    width: 100%;
    /* height: 100%; */
    height: 12%;
}
.modal-dialog .modal-content .right-part .modal-body form .login-btns button{
    display: block;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    border: none;
    border-radius: 12px 12px;
}
.modal-dialog .modal-content .right-part .modal-body form .login-btns .login-btn{
    
    background-color: var(--secondryColor);
    color: white;
    letter-spacing: 1px;
    transition: .5s;
}
.modal-dialog .modal-content .right-part .modal-body form .login-btns .login-btn:hover{
    background-color: var(--textColor);
}

.modal-dialog .modal-content .right-part .modal-body form .login-btns .login-btn-google{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.modal-dialog .modal-content .right-part .modal-footer h5{
    font-size: .9rem;
}
.modal-dialog .modal-content .right-part .modal-footer button{
    border: none;
    background-color: white;
    font-size: 1.1rem;
    color: var(--secondryColor);
    font-weight: 600;
}
.modal-dialog .modal-content .right-part .modal-footer button:hover{
    color: var(--textColor);
}


/* ===================================ban====================================== */
.ban{
    width: 100%;
    min-height: 70vh;    
}
.ban .carousel{
    width: 100%;
    height: 100%;
}
.ban .carousel .carousel-inner{
    width: 100%;
    height: 100%;
}
.ban .carousel .carousel-inner .carousel-item{
    width: 100%;
    height: 100%;
}
.ban .carousel .carousel-inner .carousel-item .bigban{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* opacity: .7; */
}
.ban .carousel .carousel-inner .carousel-item .carou-caption{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 100%;
    height: 100%;
}
.ban .carousel .carousel-inner .carousel-item .carou-caption .sale{
    color: red;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 700;
}
.ban .carousel .carousel-inner .carousel-item .carou-caption .staring{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}
.ban .carousel .carousel-inner .carousel-item .carou-caption span{
    font-size: 12px;
    position: relative;
    top: -10px;
    left: 2px;
    letter-spacing: .5px;
}
.ban .carousel .carousel-inner .carousel-item .prdban{
    position: absolute;
    top: 45%;
    right: 30%;
    width: 25%;
}
.ban .carousel .carousel-inner .carousel-item .ribban{
    position: absolute;
    top: 56%;
    right: 34%;
    width: 15%;
    transform: rotate(-20deg);
}
.ban .carousel .carousel-inner .carousel-item .bubban{
    position: absolute;
    top: 10%;
    right: 32%;
    width: 22%;
    opacity: .4;
}
.ban .carousel .carousel-inner .carousel-item .girlban{
    position: absolute;
    top: 0%;
    right: 31%;
    width: 20%;
}
.ban .carousel .carousel-inner .carousel-item .giftban{
    position: absolute;
    bottom: 0%;
    left: 5%;
    width: 10%;
}
.ban .carousel .carousel-inner .carousel-item .giftban2{
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 10%;
    transform: scaleX(-1);
}
.ban .carousel .carousel-inner .carousel-item .decban{
    position: absolute;
    top: 0;
    left: 0%;
    width: 5%;
}
.ban .carousel .carousel-inner .carousel-item .decban2{
    position: absolute;
    top: 0;
    right: 0%;
    width: 5%;
    transform: scaleX(-1);
}
.mainbtn{
    background-color: var(--secondryColor);
    color: white;
    border: none;
    width: fit-content;
    padding: 10px 15px;
    height: 12%;
    border-radius: 20px 20px;
    
}
.mainbtn:hover{
    background-color: var(--textColor);
}

/* ==========================card ========================= */

.mycard .mycard-item{
    /* border: 1px solid black; */
    padding: 20px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.mycard .mycard-item img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
#mycard-1{    
    flex: 20%;
    color: black; 
    text-align: center;
}
#mycard-2{
    flex: 20%;
    color: black;    
    text-align: center;
}
#mycard-3{
    flex: 20%;
    background-position: center;
    color: black;    
    text-align: center;
}
#mycard-4{
    flex: 20%;
    color: black; 
    text-align: center;
}

/* ===================top cat============== */
.container-fluid .cat{
    margin: 0 0;
}
.cattext{
    text-align: center;
    left: 0;
    right: 0;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    width: 208.167px;
    
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .8s;
  }

  .swiper-slide:hover img{
    transform: scale(1.1);
  }
/* .............====================ban-------------------- */
  .banoff{
    width: 100%;
    min-height: 350px;
    background-image: url("../Img/Untitled\ design.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
.banoff .bandec{
    position: absolute;
    top: -5%;
    left: 0;
    width: 15%;
    opacity: .8;
}
.banoff .banspark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    border-radius: 10px;
}
.track-text{
    letter-spacing: 3px;
    position: relative;
    left: 150px;
    top: 90px;
    z-index: 1;
}

.track-text h2{
    font-weight: 700;
    font-style: italic;
    /* text-shadow: 1px 6px 10px var(--textColor); */
    color: var(--textColor);
} 

/* ................-------------------------cat in spotlight-------------------- */
.product .catgerygroup{
    position: relative;
}
/* =====dropdown==== */

.product .catgerygroup .select-cat-dropdown{
    border: 2px solid var(--secondryColor);
    display: inline-block;
    position: relative;
    border-radius: 5px;
    width: 200px;
    letter-spacing: 1px;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 .2rem;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--secondryColor);
}
.product .catgerygroup .select-cat-dropdown:hover i{
    transform: rotate(180deg);
}
.product .catgerygroup .select-cat-dropdown:hover .select-cat-dropdown-item{
    opacity: 1;
    visibility: visible;
}

.product .catgerygroup .select-cat-dropdown .select-cat-dropdown-item{
    position: absolute;
    background-color: white;
    z-index: 500;
    box-shadow: 0 0 10px #8888;
    padding: 0;
    width: 100%;
    top: 26px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-transform: capitalize;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
}
.product .catgerygroup .select-cat-dropdown .select-cat-dropdown-item li{
    padding: .2rem .5rem;
}
.product .catgerygroup .select-cat-dropdown .select-cat-dropdown-item li:hover{
    background-color: rgb(234, 234, 234);
}

/* ========nav li========= */
.product .catgerygroup nav .pagination{
    
}
.product .catgerygroup nav .pagination .page-item{
    cursor: pointer;
    
}
.product .catgerygroup nav .pagination .page-item a{
    color: var(--secondryColor);
    text-transform: capitalize;
}
.product .catgerygroup nav .pagination .page-item:hover a{
    box-shadow: 0 0 0 5px rgb(25, 135, 84, 25%);        
}
.product .catgerygroup nav .pagination .page-item .cat-active{
    
}


.product .catgerygroup .catageryWisePrd{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    min-height: 40vh;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    gap: 30px;
    overflow-x: hidden;    
    scroll-behavior: smooth;
    scroll-snap-align: center;
    cursor: grab;
    scroll-padding-bottom: 1rem;
    padding: 1rem 0;
    position: relative;
    
}
/* btn============================= */
.product .catgerygroup .catwise-lefrig-btns{
    position: absolute;
    top: 50%;
    display: inline-block;
    height: fit-content;
    padding: .4rem .9rem;
    font-size: 1.5rem;
    border-radius: 50%;
    color: white;
    background-color: rgb(25, 135, 84, 25%);
    z-index: 500;
    cursor: pointer;
    transition: .5s;
}
.product .catgerygroup .catwise-lefrig-btns:hover{
    background-color: var(--secondryColor);
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgb(25, 135, 84, 25%);
}
.product .catgerygroup .cateprd-right-btn{
    right: 0;
}
.product .catgerygroup .catageryWisePrd .catageryWisePrd-loader{
    width: 100px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.product .catgerygroup .catageryWisePrd .catageryWisePrd-loader img{
    object-fit: cover;
    width: 50%;
    height: auto;
}
.product .catgerygroup .catageryWisePrd .catwise-card{
    flex: none;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 250px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .5s; 
}
.product .catgerygroup .catageryWisePrd .catwise-card:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #8888;
    transform: translateY(-10px);
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-img{
    width: 100%;
    height: 50%;
}
.product .catgerygroup .catageryWisePrd .catwise-card:hover img{
    transform: scale(1.03);
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .5s;
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-body{
    width: 100%;
    text-align: start;
    padding: 0 1rem;
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-body .price{
    font-size: 1.2rem;
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-body .price span{
    color: lightgray;
    text-decoration: line-through;
    font-size: .9rem;
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-body .name{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-bottom: .2rem;
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-body .Rating-star{
    font-size: .9rem;
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-body .categey{
    text-transform: capitalize;
    color: lightgray;
    letter-spacing: 2px;
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-button{
    padding: 0 1rem 1rem 1rem;
    width: 100%;
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-button button{
    width: 100%;
    border: 2px solid var(--secondryColor);
    border-radius: 20px;
    padding: .5rem 0;
    background-color: white;
    color: var(--secondryColor);
}
.product .catgerygroup .catageryWisePrd .catwise-card .catwise-card-button button:hover{
    border-color: var(--textColor);
    color: var(--textColor);
    box-shadow: 0 0 0 4px rgb(25, 135, 84, 25%);
}


/* -------------------------twoban------------------------------ */

.container-fluid .twoban{
    width: 100%;
    min-height: 50px; 
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.container-fluid .twoban .lefttowban{
    flex: 49%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transform-origin: center;
    transition: .5s;
    overflow: hidden;
    /* transition: 1s;
    transition-timing-function: ease-out;
    transform: scale(.5);
    opacity: 0; */
}
.container-fluid .twoban .lefttowban:hover{
    animation-name: shakeOrrotate;
    animation-timing-function: ease-in-out;
    animation-duration: .1s;
    animation-iteration-count: infinite;
    transform-origin: center;
    box-shadow: 0 0 10px rgb(105, 105, 105);
}
.container-fluid .twoban .lefttowban:hover img{
    transform: scale(1.1);
}
.container-fluid .twoban .lefttowban .ban-leftimg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
}

.container-fluid .twoban .righttwoban{
    flex: 49%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    transform-origin: center;
    transition: .5s;
    cursor: pointer;
    overflow: hidden;
    /* transition: 1s;
    transition-timing-function: ease-out;
    transform: scale(.5);
    opacity: 0; */

}
.container-fluid .twoban .righttwoban:hover{
    animation-name: shakeOrrotate;
    animation-timing-function: ease-in-out;
    animation-duration: .1s;
    animation-iteration-count: infinite;
    transform-origin: center;
    box-shadow: 0 0 10px rgb(105, 105, 105);
    
}
.container-fluid .twoban .righttwoban:hover img{
    transform: scale(1.1);
}
@keyframes shakeOrrotate {
    0%{transform: translateX(0px) rotate(0deg);}
    50%{transform: translateX(2px) rotate(.3deg);}
    100%{transform: translateX(0px) rotate(0deg);}
    
}
.twoban .righttwoban:hover .hatimg{
    /* display: none; */
    opacity: 0;
    top: 5px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    z-index: -1;
}
.twoban .righttwoban .ban-rightimg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
}
/* .twoban .righttwoban .right-ban-img{
    position: absolute;
    top: 0;
    right: 0;
} */
.twoban .righttwoban .treeimg{
    position: absolute;
    top: -10%;
    right: 0;
    width: 40%;
}
.twoban .righttwoban .hatimg{
    position: absolute;
    width: 16%;
    top: -12%;
    right: -6.6%;    
    transform: rotate(20deg);
    transition: .5s;
}
.twoban .righttwoban .prdimg{
    position: absolute;
    bottom: -10%;
    right: 5%;
    width: 30%;
}

.twoban .lefttowban h3>span,.righttwoban h3>span{
    font-size: medium;
    text-transform: uppercase;
}
.twoban .lefttowban p~h3,.righttwoban p~h3{
    color: yellow;
    font-weight: 800;
}
.twoban .lefttowban p+span,.righttwoban p+span{
    width: 60%;
    background-color: white;
    height: 1%;
    border-radius: 50%;
}
.twoban .lefttowban p,.righttwoban p{
    display: inline-block;
    font-weight: 800;
    letter-spacing: 1px;
}
.twoban .lefttowban p{
    color: #7e1900;
}
.twoban .righttwoban p{
    color: #cd0093;
}
.twoban .lefttowban h3,.righttwoban h3{
    font-weight: 800;
    letter-spacing: 2px;
    font-style: italic;
}
/* ---------------------product------------------------ */
.prd-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 1rem;
}
.truncate {
    display: -webkit-box;
    max-width: 250px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
}
.truncate-title{
    display: -webkit-box;
    max-width: 250px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}
.prd-group .prd-card{
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 250px;
    height: 420px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
.prd-group .prd-card:hover{
    box-shadow: 0 0 10px #8888;
    cursor: pointer;
    transform: translateY(-5px);
}
.prd-group .prd-card .prd-img{
    width: 100%;
    height: 50%;
}
.prd-group .prd-card:hover img{
    transform: scale(1.1);
}
.prd-group .prd-card .prd-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .5s;
}
.prd-group .prd-card .prd-body{
    width: 100%;
    padding: 0 1rem;
}
.prd-group .prd-card .prd-body .prd-titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.prd-group .prd-card .prd-body .prd-titles .prd-title{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.prd-group .prd-card .prd-body .prd-titles .prd-heart-logo i{
    font-size: 1.1rem;
}
.prd-group .prd-card .prd-body .prd-cat{
    text-transform: capitalize;
    font-size: .9rem;
    background-color: whitesmoke;
    display: inline-block;
    padding: 0 1rem;
    color: var(--secondryColor);
    font-weight: 500;
    border-radius: 3px;
}
.prd-group .prd-card .prd-body .prd-rating-start{
    font-size: .9rem;
    padding-top: .1rem;
} 
.prd-group .prd-card .prd-body .prd-price{
    font-size: 1.3rem;
    font-weight: 500;
}
.prd-group .prd-card .prd-body .prd-price :first-child{
    font-size: 1.1rem;
    color: var(--footertextColor);
    text-decoration: line-through;
}
.prd-group .prd-card .prd-body .prd-price :last-child{
    font-size: 1.2rem;
    color: green;
}
.prd-group .prd-card .prd-btn{
    padding: 0 0 1rem 1rem;
    align-self: flex-start;
}
.prd-group .prd-card .prd-btn button{
    border: 2px solid var(--secondryColor);
    border-radius: 5px;
    background-color: white;
    color: var(--textColor);
    font-weight: 500;
    padding: .4rem 1rem;
    
}
.prd-group .prd-card .prd-btn button:hover{
    box-shadow: 0 0 0 4px rgb(25, 135, 84, 25%);
}

/* ----add cart btn in product------ */

.prd-group .prd-card .prd-btn-addcart{
    padding: 0 0 1rem 1rem;
    align-self: flex-start;
    width: 100%;
    display: none;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.prd-group .prd-card .prd-btn-addcart button{
    border: 2px solid var(--secondryColor);
    border-radius: 5px;
    background-color: white;
    color: var(--textColor);
    font-weight: 500;
    padding: .1rem .5rem;
}
.prd-group .prd-card .prd-btn-addcart button i{
    color: var(--secondryColor);
}
.prd-group .prd-card .prd-btn-addcart{
    font-size: 1.2rem;
    font-weight: 500;
}
.prd-group .prd-card .prd-btn-addcart button:hover{
    box-shadow: 0 0 0 4px rgb(25, 135, 84, 25%);
}




/* -------------------------service-------------------- */
.Service-grp .col .card{
    overflow: hidden;
    height: 100%;
    border: none;
}
.Service-grp .col .card .card-body{
    background-color: rgb(243, 243, 243);
    height: 30%;
}
.Service-grp .col .card .card-body h4{
    font-weight: 700;
    font-size: x-large;
    letter-spacing: 2px;
}
.Service-grp .col .card .card-img{
    width: 100%;
    height: 100%;
}
.Service-grp .col .card .card-img img{
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

/* ------------------------footer------------------ */
.copyright-sec-footer{
    width: 100%;
    height: 5vh;
    background-color: var(--secondryColor);
   
}
.copyright-sec-footer h3{
    height: 100%;
    color: white;
    font-size: smaller;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.copyright-sec-footer h3 span{
    font-size: 20px;
}

.main-footer-section{
    /* border-top: 5px solid var(--textColor); */
    /* border-radius: 10px 10px 0 0; */
    width: 100%;
    min-height: 50vh;
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    padding: 1rem;
}

.main-footer-section .mid-part{
    /* background-color: goldenrod; */
    width: 100%;
    height: 80%;
    /* padding: 10%; */
}

/* ............................rightsection------------------ */
.main-footer-section .right-part{
    /* background-color: orange; */
    width: 30%;
    height: 20%;
    position: relative;
}
.main-footer-section .right-part .right-items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.main-footer-section .right-part img{
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 70%;
    margin: 0 auto;
    text-align: center;

}

.main-footer-section .right-part .right-items .footer-icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.main-footer-section .right-part .right-items .footer-icons .social-icon{
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: .8s;
    padding: 10px;
    border-radius: 12px;
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(1){
    background-color: #1977f3;
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(1):hover{
    background-color: #1977f3;
    box-shadow: 0 0 10px #1977f3;
    transform: scale(1.1) translateY(-5px);
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(2){
    background-color: black;
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(2):hover{
    background-color: black;
    box-shadow: 0 0 10px black;
    transform: scale(1.1) translateY(-5px);
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(3){
    background-color: #1da1f2;
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(3):hover{
    background-color: #1da1f2;
    box-shadow: 0 0 10px #1da1f2;
    transform: scale(1.1) translateY(-5px);
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(4){
    background-color: rgb(255, 78, 108);
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(4):hover{
    background-color: rgb(255, 78, 108);
    box-shadow: 0 0 10px rgb(255, 78, 108);
    transform: scale(1.1) translateY(-5px);
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(5){
    background-color: #f00;
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(5):hover{
    background-color: #f00;
    box-shadow: 0 0 10px #f00;
    transform: scale(1.1) translateY(-5px);
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(6){
    background-color: #0077b5;
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(6):hover{
    background-color: #0077b5;
    box-shadow: 0 0 10px #0077b5;
    transform: scale(1.1) translateY(-5px);
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(7){
    background-color: red;
}
.main-footer-section .right-part .right-items .footer-icons :nth-child(7):hover{
    background-color: red;
    box-shadow: 0 0 10px red;
    transform: scale(1.1) translateY(-5px);
}

.main-footer-section .right-part .right-items .footer-icon-app{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.main-footer-section .right-part .right-items .footer-icon-app h5{
    color: var(--footertextColor);
    font-size: 20px;
    font-weight: 600;  
    letter-spacing: 1px;
}

.main-footer-section .right-part .right-items .footer-icon-app h5 .app-icon{
    background-color: var(--footertextColor);
    color: white;
    padding: 5px;
    border-radius: 6px;
    transition: .8s;
}
.main-footer-section .right-part .right-items .footer-icon-app :nth-child(2):hover .app-icon{
    background-color:rgb(81, 168, 0);
    box-shadow: 0 0 10px rgb(81, 168, 0);
}
.main-footer-section .right-part .right-items .footer-icon-app :nth-child(1):hover .app-icon{
    background-color:rgb(28, 28, 28);
    box-shadow: 0 0 10px rgb(28, 28, 28);
}


/* .......................mid section footer .......................... */

.main-footer-section .mid-part .mid-items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.main-footer-section .mid-part .mid-items form{
    flex: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.main-footer-section .mid-part .mid-items form .newletter{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--footertextColor);
}
.main-footer-section .mid-part .mid-items form .form-newsletter{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: row;
    justify-content: center;
    align-items: center;
}
.main-footer-section .mid-part .mid-items form .form-newsletter #foot-email{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 1rem;
    overflow: hidden ;
}
.main-footer-section .mid-part .mid-items form .form-newsletter #foot-email:focus{
    border: 2px solid var(--secondryColor);
    outline: none;
    box-shadow: 0 0 0 5px rgb(25, 135, 84, 25%);
}
.main-footer-section .mid-part .mid-items form .form-newsletter button{
    position: absolute;
    height: 50px;
    border: none;
    background-color: var(--secondryColor);
    color: white;
    width: 50px;
    right: 0;
    border-radius:0 .7rem .7rem 0;
    font-size: 1.2rem;
}
.main-footer-section .mid-part .mid-items form .form-newsletter button:hover{
    background-color: var(--textColor);
}

.main-footer-section .mid-part .mid-items .foot-list{
   flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 .5rem;
    padding-top: 4rem;
    color: var(--footertextColor);
}

.main-footer-section .mid-part .mid-items .foot-list .foot-list-item h4{
    letter-spacing: .1rem;
    font-size: 1.2rem;
}

.main-footer-section .mid-part .mid-items .foot-list .foot-list-item ul{
    list-style: none;
    padding: 0;
}
.main-footer-section .mid-part .mid-items .foot-list .foot-list-item ul li{
    margin-bottom: .5rem;
}
.main-footer-section .mid-part .mid-items .foot-list .foot-list-item ul li a{
    color: var(--footertextColor);
}
.main-footer-section .mid-part .mid-items .foot-list .foot-list-item ul li :hover{
    color: var(--secondryColor)
}


/* ==========================whats fixed icon========================= */
.whatsapp-icons{
    display: inline-block;
    position: fixed;
    bottom: -100px;
    right: 10px;
    font-size: 2rem;
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: .5rem 1rem;
    box-shadow: 0 0 10px #8888;
    cursor: pointer;
    z-index: 900;
    transition: .8s;
    opacity: 0;
}
.whatsapp-icons:hover{
    box-shadow: 0 0 20px rgba(37, 37, 37, 0.533);
}



@media only screen and (min-width:768px){
    .whatsapp-icons{
        display: inline-block;
        position: fixed;
        bottom: -100px;
        right: 15px;
        font-size: 2.5rem;       
        padding: .5rem 1.2rem;
        
    }
}



/* ------------------------------- Start Media Query ------------------------------------------------------- */


/* ===============footer====== */

@media only screen and (max-width:1190px) {

    .main-footer-section .right-part{
        width: 100%;
    }
    .main-footer-section .right-part .right-items{
        justify-content: center!important;
        /* margin: 1rem 0; */
    }
    .main-footer-section .right-part .right-items .footer-icons{
        justify-content: center;
        gap: 30px;
    }
}
@media only screen and (max-width:992px) {
    footer .main-footer-section{
        padding: 1rem 0!important;
    }
}
@media only screen and (max-width:771px){
    .main-footer-section .mid-part .mid-items form{
        flex: 100%;
    }
    .main-footer-section .mid-part .mid-items .foot-list{
        flex: 100%;
        padding-top: 2rem;
        padding-bottom: 1rem;
     }
}
@media only screen and (max-width:505px){
    .main-footer-section .mid-part .mid-items .foot-list{
        justify-content: space-between;
        padding: 1rem;
    }
    .main-footer-section .right-part .right-items .footer-icons{
        gap:10px
    }
    .main-footer-section .mid-part .mid-items form .form-newsletter{
        width: 100%;        
    }
}
@media only screen and (max-width:385px){
    .main-footer-section .right-part .right-items .footer-icons{
        gap:5px
    }
    .main-footer-section .mid-part .mid-items .foot-list .foot-list-item ul li{
        /* word-break: keep-all; */
        padding-left: .5rem;
    }
    .main-footer-section .right-part .right-items .footer-icons .social-icon{
        font-size: 15px;
    }
}


/* ===============login===================== */
@media only screen and (max-width:1200px){
    .mod-content .left-part .login-left-text{
        padding: 0 4rem;
    }
    .mod-content .left-part .login-smallimg{
        top: 10%;
        left: 0;
    }

    .modal-dialog .modal-content .right-part .modal-body{
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 576px){
    .modal-dialog {
        max-width: 80vw!important;
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (max-width: 909px){
    .mod-content .left-part .loginsmallimg-main{
        width: 350px!important;
        height: auto;
    }
    .modal-dialog .modal-content .right-part .modal-body{
        gap: 0px;
    }
    .mod-content .left-part .login-left-text{
        padding: 0 1rem;
    }
    .mod-content .left-part .login-left-text p{
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 788px){
    .modal-dialog .modal-content{
        flex-direction: column-reverse;
    }
    .modal-dialog .modal-content .left-part{
        display: none;
    }
    .modal-dialog .modal-content .right-part{
        width: 100%;
        height: 100%;
    }
}

/* =================sub nav================== */

@media only screen and (max-width:992px){
    header .sub-nav .navsub-list-items{
        gap: 30px;
        padding-inline-start: 0;
    }
    header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown{
        width: 60%;
    }
}
@media only screen and (max-width:724px){
    header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown{
        width: 80%;
    }
}
@media only screen and (max-width:610px){
    header .sub-nav .navsub-list-items{
        gap: 20px;
    }
    header .sub-nav .navsub-list-items li{
        font-size: .8rem;
    }
}
@media only screen and (max-width:610px){
    header .sub-nav .navsub-list-items li{
        font-size: .7rem;
    }
    header .sub-nav .navsub-list-items li .sub-nav-item img{
        width: 50px;
    }
    header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown{
        width: 100%;
    }
}
@media only screen and (max-width:480px){
    header .sub-nav .navsub-list-items li{
        font-size: .5rem;
    }
    header .sub-nav .navsub-list-items li .sub-nav-item img{
        width: 30px;
    }
    header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown{
        top: 4rem;
    }
    header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown .sub-nav-dropdown-item li{
        font-size: .7rem;
    }
   
}
@media only screen and (max-width:320px){
    header .sub-nav .navsub-list-items{
        gap: 15px;
        padding: 0 1rem;
    }
    /* header .sub-nav .navsub-list-items li{
        font-size: .7rem;
    } */
    header .sub-nav .navsub-list-items li .sub-nav-item img{
        width: 25px;
    }
    header .sub-nav .navsub-list-items .navsub-list-item .sub-nav-dropdown .sub-nav-dropdown-item li{
        font-size: .6rem;
    }
}


/* ============ban============ */
@media only screen and (max-width:936px) {
    .ban{
        min-height: 10vh;    
    }
}

/* =======top service card========= */
@media only screen and (max-width:1025px) {
    .container-fluid .mycard{
        gap: 10px!important;
        margin: 0 0!important;
    }
}
@media only screen and (max-width:780px) {
    .container-fluid .mycard{
       padding: 0!important;
       gap: 0px!important;
    }
    .mycard .mycard-item{
        /* border: 1px solid black; */
        padding: 5px;
        min-height: 200px;
    }
    .mycard .mycard-item img{
        width: 65px!important;
    }
    .mycard .mycard-item h5{
        font-size: 1rem;
     }
    #mycard-1{    
        flex: 50%;
        width: 50%;
    }
    #mycard-2{
        flex: 50%;
    }
    #mycard-3{
        flex: 50%;
    }
    #mycard-4{
        flex: 50%;
    }
}
@media only screen and (max-width:426px){
    .mycard .mycard-item img{
        width: 50px!important;
    }
    .mycard .mycard-item h5{
       font-size: 1rem;
    }
    .mycard .mycard-item{
        /* border: 1px solid black; */       
        min-height: 200px;        
    }
}
@media only screen and (max-width:376px){
    .mycard .mycard-item img{
        width: 40px!important;
    }
    .mycard .mycard-item h5{
       font-size: .8rem;
    }
    .mycard .mycard-item{
        /* border: 1px solid black; */       
        min-height: 100px;        
    }
    .container-fluid .mycard{
        margin: 2rem 0!important;
    }
}

/* ==========top cat============= */
@media only screen and (max-width:1025px) {
    .swiper-slide {
        width: 200px!important;        
    }
    .container-fluid .cat{
        padding: 0 2rem!important;
    }
}
@media only screen and (max-width:426px) {
    .swiper-slide {
        width: 150px!important;        
    }
    .swiper {
        height: 250px;
    }
    .container-fluid .cat{
        padding: 0 1rem!important;
    }
}
@media only screen and (max-width:376px){
    .swiper-slide {
        width: 120px!important;        
    }
    .swiper {
        height: 200px;
    }
    .cattext{
        font-size: 1.2rem;
    }
    .cat .contain-heading{
        font-size: 1.3rem;
    }
}


/* ==========================ban=============== */
@media only screen and (max-width:768px){
    .track-text{
        letter-spacing: 2px;
        left: 100px;
        top: 100px;
    }
    
}

@media only screen and (max-width:426px){
    .banoff{
        background-position: right;
      }
    .banoff .track-text{
        display: none!important;
    } 
    .banoff .bandec{
        display: none;
    } 
}

/* =================in spotlight===================
 */

 @media only screen and (max-width:617px){
    .container-fluid .product{
        padding: 0 1rem!important;
    }
 }
 @media only screen and (max-width:426px){
    .container-fluid .product{
        padding: 0 1rem!important;
    }
 }
 @media only screen and (max-width:522px){
    .product .catgerygroup .select-cat-dropdown{
        display: flex;
    }
    .product .catgerygroup nav .pagination{
        display: none;
    }
 }


 /* ============two ban===================
  */
  @media only screen and (max-width:1119px){
    .container-fluid .twoban{
        padding: 0 1rem!important;
    }
    .container-fluid .twoban{
        gap: 10px;
    }
  }
  @media only screen and (max-width:800px){
    .container-fluid .twoban{      
        flex-direction: column;       
    }
    .container-fluid .twoban .lefttowban{
        flex: 100%;
    }
    .container-fluid .twoban .righttwoban{
        flex: 100%;   
    }
  }
  @media only screen and (max-width:426px){
    .container-fluid .twoban{
        padding: 0 .5rem!important;
    }
  }

  /* ===============product================ */
  @media only screen and (max-width:650px){
    .container-fluid .products{
        padding: 0 1rem!important;
    }
  }
  @media only screen and (max-width:586px){
    .container-fluid .products .prd-group{
        justify-content: center;
        margin-top: 1rem;
    }
  }
 
  /* =========our service==================== */

  @media only screen and (max-width:1286px){
    .Service-grp .col .card .card-body h4{
        font-weight: 800;
        font-size: larger;
        letter-spacing: 1px;
    }
  }
  @media only screen and (max-width:1112px){
    .Service-grp .col .card .card-body p{
        display: none;
    }
  }