.contain{
    width: 100%;
    min-height: 550px;
    height: 550px;
    /* background-color: red; */
}
.contain .component{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contain .component .component-imgs{
    flex: 40%;
    height: 100%;
}
.contain .component .component-details{
    flex: 40%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain .component .component-imgs .component-main-img{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1521939094609-93aba1af40d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 0px 5px 5px 0px;
}
.contain .component .component-imgs .component-main-img .component-other-images{
    position: absolute;
    /* background-color: brown; */
    width: fit-content;
    height: 11%;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 255, 255 , 1%);
    backdrop-filter: blur(5px);
}
.contain .component .component-imgs .component-main-img .component-other-images img{
    object-fit: cover;
    max-width: 100%;
    width: 100px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px #8888;
    cursor: pointer;
    transition: .5s;
}
.contain .component .component-imgs .component-main-img .component-other-images img:hover{
    transform: translateY(-5px);
}

.contain .component .component-detail{
    width: fit-content;
    min-height: fit-content;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.contain .component .component-detail .com-title{
    font-weight: 600;
    letter-spacing: 2px;
}
.contain .component .component-detail .com-title sup{
    font-weight: 300;
    letter-spacing: 0;
    background-color: green;
    color: white;
    padding: .2em .5em;
    border-radius: 3px;
    font-size: .7em;
}
.contain .component .component-detail .com-rating-stars{
     font-size: .6em;
}
.contain .component .component-detail .com-rating-stars :last-child{
    text-decoration: underline;
    cursor: pointer;
}
.contain .component .component-detail .com-decription{
    font-size: .9em;
}
.contain .component .component-detail .paynow{
    font-size: .6em;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(90, 90, 90);
}
.contain .component .component-detail .com-prices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 25px;
    
}
.contain .component .component-detail .com-prices> :first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contain .component .component-detail .com-prices> :first-child :last-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.contain .component .component-detail .com-prices> :first-child :last-child .com-price{
    font-size: 1.3em;
    color: green;
}
.contain .component .component-detail .com-prices> :first-child :last-child .com-discut{
    font-size: 1em;
    color: #8888;
    text-decoration: line-through;
}
.contain .component .component-detail .com-prices .com-dis{
    font-size: .8em;
}
.contain .component .component-detail .com-stock{
    font-size: 1em;
    font-weight: 500;
}
.contain .component .component-detail .com-stock span{
    font-size: .7em;
    color: green;
}
.contain .component .component-detail .com-btns{
    font-size: .8em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: .8rem;
}
.contain .component .component-detail .com-btns .com-bothbtn{
    border:  none;
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: .6rem 0;
    width: 100%;
}

.contain .component .component-detail .com-btns .comquantityChangebtn{
    width: 100%;
    /* display: flex; */
    display: none;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.contain .component .component-detail .com-btns .comquantityChangebtn .com-count{
    font-size: 1.3em;
    font-weight: 500;
}
.contain .component .component-detail .com-btns .comquantityChangebtn .con-incri-dicri{
    cursor: pointer;
    background-color: green;
    padding: .7rem .7rem;
    color: white;
}
