<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quickdeal-about</title>
        <link rel="icon" type="image/x-icon" href="../Img/favicon.PNG">
        <link rel="stylesheet" href="../Css/home.css">
        <link rel="stylesheet" href="../Css/about.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
<body>
      <div id="preloader"></div>
      <header id="header" class="postload">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="offcanvas-body-item">
              
              <div class="offcanvas-body-item-img">
                <img src="../Img/cart/online-shopping (1).png" alt="">
              </div>
              <div class="offcanvas-body-item-title">
                Your Cart is empty !
              </div>
              <div class="offcanvas-body-item-dec">
                It's a good day to buy the items you saved for later
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg mt-2">
            <div class="container-fluid nav-1">                
              
              <a href="../home.html">
                <img class="d-inline-block logoimg" src="../Img/Quickdeal-Logo.PNG" alt="logo"></a>
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav class="navbar navbar-expand-lg">
                  <div class="container-fluid">                
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-ul">
                        <li class="nav-item">
                          <a class="nav-link " aria-current="page" href="../home.html">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="../Component/aboutus.html">About</a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </li> -->
                        <li class="nav-item">
                          <a class="nav-link" href="../Component/contactUs.html">Contact us</a>
                        </li>
                      </ul>
                      
                    
                    </div>
                  </div>
              </nav>                  
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0 mx-3 nav-ul loginpartul">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-right-to-bracket"></i>
                      Login</a>                      
                    </li>                  
                    <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                      <a class="nav-link" aria-current="page">
                        <i class="fa-solid fa-cart-shopping mx-1"></i>
                        <span id="totalNoOfProducts" class="totalcartitem">0</span> Cart 
                      </a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>  

        <!-- <nav id="nav-cat" class="sub-nav">
          <ul type="none" class="navsub-list-items">
            <li class="navsub-list-item">
              <div class="sub-nav-item">
                <img src="../Img/NavCat/perspective_matte-51-128x128.png" alt="" srcset="">
                <a href="#">Mobiles <i class="fa-solid fa-caret-down"></i></a>
              </div>
              <div class="sub-nav-dropdown" type="none">
                <ul type="none" class="sub-nav-dropdown-item">
                  <li class="brand">Explore</li>
                  <li>New Lanches</li>
                  <li>Best Sellers</li>
                  <li>Combos</li>
                  <li>Gift Pack</li>
                </ul>
                <div class="vertical-line">
                  
                </div>          
                <ul type="none" class="sub-nav-dropdown-item">
                  <li class="brand">Brands</li>
                  <li>Samsung</li>
                  <li>Apple</li>
                  <li>Huawei</li>
                  <li>Nokia</li>
                  <li>Sony</li>
                  <li>LG</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="sub-nav-item">
                <img src="../Img/NavCat/Clothes-128x128.png" alt="" srcset="">
                <a href="#">Fashion</a>
                </div>
              </li>
            <li>
              <div class="sub-nav-item">
                <img src="../Img/NavCat/perspective_matte-132-128x128.png" alt="" srcset="">
                <a href="#">Electronics</a>
                </div></li>
            <li>
              <div class="sub-nav-item">
                <img src="../Img/NavCat/perspective_matte-150-128x128.png" alt="" srcset="">
                <a href="#">Beauty</a>
                </div></li>
            <li>
              <div class="sub-nav-item">
                <img src="../Img/NavCat/perspective_matte-499-128x128.png" alt="" srcset="">
                <a href="#">Toys</a>
                </div>
              </li>
            <li>
              <div class="sub-nav-item">
                <img src="../Img/NavCat/perspective_matte-57-128x128.png" alt="" srcset="">
                <a href="#">Appliances</a>
                </div>
              </li>
          </ul>
        </nav>  -->
      </header>
    <div class="postload container-fluid">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl model-height">
            <div class="modal-content mod-content">
              <div class="left-part position-relative">
                  <img class="login-backgoundimg" src="../Img/green-slate.jpg" alt="" srcset="">
                  <img class="login-smallimg loginsmallimg-main" src="../Img/Mobile-login-Cristina.png" alt="" srcset="">
                  <img class="loginsmallimg loginsmallimg-1" src="../Img/shape/1495283757-svg (1).png" alt="" srcset="">
                  <img class="loginsmallimg loginsmallimg-2" src="../Img/shape/1495283757-svg (2).png" alt="" srcset="">
                  <img class="loginsmallimg loginsmallimg-3" src="../Img/shape/1495283757-svg (3).png" alt="" srcset="">
                  <img class="loginsmallimg loginsmallimg-4" src="../Img/shape/1495283757-svg (4).png" alt="" srcset="">
                  <div class="login-left-text">
                    <h4>Change The Qaulity</h4>
                    <h4>Of Your Life</h4>
                    <p>log in to continue to more Shopping</p>
                  </div>
              </div>
              <div class="right-part">
                <div class="modal-header">
                  <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> -->
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="model-body-text">
                    <h1>Hello Again!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nulla sit iste, ex harum magni blanditiis expedita aliquid libero</p>
                  </div>
                  <form action="" method="post">      
                    <div class="login-inp position-relative">
                      <input type="email" id="login-email" name="login-email" placeholder="Email">
                      <i class="fa-regular fa-at login-inp-icons"></i>
                    </div> 
                    <div class="login-inp position-relative">
                      <input type="password" id="login-password" name="login-password" placeholder="password">
                      <i class="fa-solid fa-lock login-inp-icons"></i>
                    </div>               
                    <div class="check-recovery">
                      <div class="check">                                                   
                          <input type="checkbox" name="remember" id="remember">                                                   
                          <label id="remember">Remmeber me</label>
                      </div>
                      <a href="">Recovery Password</a>
                    </div>
                    <div class="login-btns">
                      <button class="login-btn" type="button">Login</button>
                      <button class="login-btn-google" type="button"><i class="fa-brands fa-google mx-2 text-danger"></i>Sign in with Google</button>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button> -->
                  <h5>Dont't have an account yet?</h5>
                  <button type="button">Sign Up</button>
                </div>
              </div>
            </div>
          </div>
        </div> 

      <div class="about-1">
        <div class="about-1-items">
            <div class="about-1-item-img">
                <img src="../Img/about/3026238.jpg" alt="" srcset="" width="600" height="500">
            </div>
            <div class="about-1-item-txt">
                <div>We are parents just like you. Our journey began when we were expecting our first child. That’s the time we turned from a bungee jumping, pub hopping, carefree couple to basically a couple of safety wardens. Everything had to be safe, kosher & googled. When the morning sickness became a routine, we were shocked to find that there were no safer alternatives to pills and ended up having to struggle a lot.</div>
            </div>           
        </div>
      </div>
      <div class="about-2">
        <div class="about-2-items">
            <div class="about-2-item-img">
                <img src="../Img/about/6673.png" alt="" srcset="" width="600" height="500">
            </div>           
            <div class="about-2-item-txt">
                <div>What We Want To Achieve?</div>
                <div>We aim to build a brand which is your friend, every parent’s friend. A friend who understands you, knows your issues and tries hard to resolve them, well most of them. A brand which every parent like you and me can trust, a brand which intends to make lives of mums & expectant mums better and beautiful. A brand which welcomes all our babies to a healthy and a safe world. We aspire to take care of every parents & baby’s well-being from head to toe with safe, toxin-free, international standard products which you can choose without having to think twice. Well, it’s a lot like love.</div>
            </div>           
        </div>
      </div>
      
    </div>



    
    <!--=========== ====whatsapp=================== -->
    <div class="postload whatsapp-icons">
      <i class="fa-brands fa-whatsapp"></i>
    </div>



    <footer class="postload">
      <section class="main-footer-section px-5">

        <div class="mid-part">
          <div class="mid-items">
            <form class="" action="" method="post">
              <div class="newletter">Newsletter</div>
              <div class="form-newsletter position-relative">  
                <input type="email" id="foot-email" name="foot-email" placeholder="abc@example.com">
                <button class="" type="button"><i class="fa-solid fa-paper-plane"></i></button>
              </div>
            </form>
            <div class="foot-list">
              <div class="foot-list-item">
                <h4>Menu</h4>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact us</a></li>                     
                </ul>
              </div>
              <div class="foot-list-item">
                <h4>Category</h4>
                <ul>                      
                  <li><a href="#">Men Clothes</a></li>
                  <li><a href="#">Women Clothes</a></li>
                  <li><a href="#">Tech</a></li>                      
                  <li><a href="#">Shoes</a></li>                      
                </ul>
              </div>
              <div class="foot-list-item">
                <h4>Products</h4>
                <ul>
                  <li><a href="#">Samsung Tab</a></li>
                  <li><a href="#">Asus Laptop</a></li>
                  <li><a href="#">Xiomi Mobile</a></li>
                  <li><a href="#">Realme Tv</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      
        <div class="right-part">
          <div class="right-items">
            <div class="footer-icons">
              <i class="fa-brands fa-facebook social-icon"></i>
              <i class="fa-brands fa-github social-icon"></i>
              <i class="fa-brands fa-twitter social-icon"></i>
              <i class="fa-brands fa-square-instagram social-icon"></i>
              <i class="fa-brands fa-youtube social-icon"></i>
              <i class="fa-brands fa-linkedin social-icon"></i>
              <i class="fa-brands fa-google social-icon"></i>
            </div>
            <!-- <div class="footer-icon-app">
              <h5><i class="fa-brands fa-apple app-icon"></i> IOS app</h5>
              <h5><i class="fa-brands fa-android app-icon"></i> Android app</h5>                
            </div> -->
          </div>
        </div>
      </section>
      <section class="copyright-sec-footer">
          <h3><span>&#169;</span>2022 Copyright: Quickdeal.com</h3>
      </section>
    </footer>

  <script src="../Js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>